customer = conekta.Customer.create({
    'name': 'prueba prueba',
    'email': 'prueba@prueba.com',
    'phone': '0321654987',
    'payment_sources': [{
        'type': 'card',
        'token_id': 'tok_tes'
    }]
}, function(err, res) {
        if(err){
            console.log(err);
            return,
        }
    console.log(res.toObject())
});