extends layout

block content
    h1 Tokenizar tarjeta y generar cargo
    form#card-form(method="post", action="/charge")
        input(type="hidden", name="currency", value="MXN")
        input(type="hidden", name="description", value="video de node con express.js")
        input(type="hidden", name="reference_id", value="cargo_008_test")
        p
            label Monto en centavos
            input(type="text", name="amount")
        p
            label email del comprador
            input(type="text", name="details[email]")
        p
            label Nombre del tarjeta habiente 
            input(type="text", minlength="4", data-conekta="card[name]")
        p 
            label Numero de la terjeta
            input(type="text", minlength="15", maxlength="16", data-conekta="card[number]")
        p
            label CVC
            input(type="text", minlength="3", maxlength="4", data-conekta="card[cvc]")
        p
            label Fecha de expiracion (MM/AAAA)
            input(type="text", minlength="2", maxlength="2", data-conekta="card[exp_month]")
            | /
            input(type="text", minlength="2", maxlength="4", data-conekta="card[exp_year]")
        p
            button(type="submit") Pagar ahora
block script
    script.
        //console.log(Conekta.Token.create,'<---')
        //Conekta.setPublishableKey('key_DEqxeDVx4tRMXwTWsxdrmNQ');
        //- var conekta = require('conekta');
        //- conekta.api_key = 'key_DEqxeDVx4tRMXwTWsxdrmNQ';
        //- conekta.api.version = '2.0.0';
        //- agrega al formulario un input llamado tokenID para el envio al servidor
        //var conektaSuccessResponseHandler;
        //4242424242424242
        var conektaSuccessResponseHandler = function(token){
            console.log(token.id,'token')
            //var $form;
            var $form = $("#card-form");
                $form.append($("<input type=\"hidden\" name=\"conektaTokenId\" id=\"conektaTokenId\" />").val(token.id));
            //$form.append($("<input type=\"text\" name=\"conektaTokenId\" id=\"conektaTokenId\" />").val(token.id));
            $form.get(0).submit();
        };
        //- mensaje de error si el envio del token falla
        //var conektaErrorResponseHandler;
        var conektaErrorResponseHandler = function(response) {
            var $form;
            $form = $("#card-form");
            $form.find(".card-errors").text(response.message_to_purchaser);
            $form.find("button").prop("disabled", false);
        };
      
        $(function() {
            $('#card-form').on('submit',function(event){
                var $form
                var form = $(this)
                $form.find("button").prop("disabled",true);
                Conekta.token.create(form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
                
                return false;
            })
        /*$("#card-form").submit(function(event) {
            event.prevenDefault()
            var $form;
            $form = $(this);
            $form.find("button").prop("disabled", true);
            //Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
            return false;
            });*/
        });