doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="https://cdn.conekta.io/js/latest/conekta.js")
    script(src="/javascripts/conektaFunction.js")
  body
    block content
